{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idusuario</th>
                <td>{{ usuario.idusuario }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ usuario.login }}</td>
            </tr>
            <tr>
                <th>Senha</th>
                <td>{{ usuario.senha }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usuario_index') }}">back to list</a>

    <a href="{{ path('usuario_edit', {'idusuario': usuario.idusuario}) }}">edit</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
