{% extends 'base.html.twig' %}

{% block title %}TipoUsuario index{% endblock %}

{% block body %}
    <h1>TipoUsuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdtipoUsuario</th>
                <th>Tipousuario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_usuario in tipo_usuarios %}
            <tr>
                <td>{{ tipo_usuario.idtipoUsuario }}</td>
                <td>{{ tipo_usuario.tipousuario }}</td>
                <td>
                    <a href="{{ path('tipo_usuario_show', {'idtipoUsuario': tipo_usuario.idtipoUsuario}) }}">show</a>
                    <a href="{{ path('tipo_usuario_edit', {'idtipoUsuario': tipo_usuario.idtipoUsuario}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_usuario_new') }}">Create new</a>
{% endblock %}
