{% extends 'base.html.twig' %}

{% block title %}TipoEstabelecimento{% endblock %}

{% block body %}
    <h1>TipoEstabelecimento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdtipoEstabelecimento</th>
                <td>{{ tipo_estabelecimento.idtipoEstabelecimento }}</td>
            </tr>
            <tr>
                <th>Tipoestabelecimento</th>
                <td>{{ tipo_estabelecimento.tipoestabelecimento }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_estabelecimento_index') }}">back to list</a>

    <a href="{{ path('tipo_estabelecimento_edit', {'idtipoEstabelecimento': tipo_estabelecimento.idtipoEstabelecimento}) }}">edit</a>

    {{ include('tipo_estabelecimento/_delete_form.html.twig') }}
{% endblock %}
