{% extends 'base.html.twig' %}

{% block title %}ItemEstoque{% endblock %}

{% block body %}
    <h1>ItemEstoque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IditemEstoque</th>
                <td>{{ item_estoque.iditemEstoque }}</td>
            </tr>
            <tr>
                <th>NomeItem</th>
                <td>{{ item_estoque.nomeItem }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ item_estoque.preco }}</td>
            </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ item_estoque.quantidade }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('item_estoque_index') }}">back to list</a>

    <a href="{{ path('item_estoque_edit', {'iditemEstoque': item_estoque.iditemEstoque}) }}">edit</a>

    {{ include('item_estoque/_delete_form.html.twig') }}
{% endblock %}
