{% extends 'base.html.twig' %}

{% block title %}Estoque{% endblock %}

{% block body %}
    <h1>Estoque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idestoque</th>
                <td>{{ estoque.idestoque }}</td>
            </tr>
            <tr>
                <th>NomeEstoque</th>
                <td>{{ estoque.nomeEstoque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estoque_index') }}">back to list</a>

    <a href="{{ path('estoque_edit', {'idestoque': estoque.idestoque}) }}">edit</a>

    {{ include('estoque/_delete_form.html.twig') }}
{% endblock %}
